spring-demo/src/main/resources/com/cedar/demo/customertag/user-bean.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://www.wuxiangge.com/schema/user"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.wuxiangge.com/schema/user"
			elementFormDefault="qualified">


	<xsd:import namespace="http://www.w3.org/XML/1998/namespace"/>


	<xsd:element name="user">
		<xsd:complexType>
			<xsd:attribute name="id" type="xsd:string"/>
			<xsd:attribute name="userName" type="xsd:string"/>
			<xsd:attribute name="email" type="xsd:string"/>
		</xsd:complexType>
	</xsd:element>

</xsd:schema>